:root
{
    --cor-de-fundo: #000000;
    --cor-da-fonte: #FEFEFE;
    --cor-de-destaque: #22D4FD;
    --fonte-texto: "Montserrat", sans-serif;
    --fonte-titulo: "krona One", sans-serif;
}

*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.projeto
{    
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-texto);
    color: var(--cor-da-fonte);
}

.apresentacao
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7% 15%;
    gap: 3rem;
}

.apresentacao__texto--titulo
{
    font-family: var(--fonte-titulo);
    font-size: 36px;
    line-height: 56px;
}

.apresentacao__texto--titulo-destaque
{
    color: var(--cor-de-destaque);
}

.apresentacao__texto--paragrafo,
.apresentacao__texto--links
{
    font-size: 24px;
    line-height: 36px;
    margin-top: 3rem;
}

.apresentacao__texto--paragrafo
{
    text-align: justify;
}

.apresentacao__texto--links
{
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    align-items: center; 
    gap: 2rem;  
}

.apresentacao__texto--links-titulo
{
    font-family: var(--fonte-titulo);
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.apresentacao__texto--links-link
{
    width: 23rem;
    background-color: transparent;
    padding: 1rem 5rem;    
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--cor-da-fonte);
    font-weight: 600;
    border: 2px solid var(--cor-de-destaque);
    border-radius: 0.5rem;    
}

.apresentacao__texto--links-link:hover
{
    background-color: #272727;
}

.rodape
{
    background-color: var(--cor-de-destaque);
    padding: 2rem 0;
    text-align: center;
    color: var(--cor-de-fundo);
    font-size: 24px;

}